#### Tuples

1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [2]:
first=()
print(type(first))
print(first)

<class 'tuple'>
()

In [5]:
shan=list()
rihan=tuple()
print(type(shan))
print(type(rihan))

<class 'list'>
<class 'tuple'>

In [6]:
ok=tuple([1,2,3,4,5])
type(ok)

tuple

In [8]:
ok=list((1,2,3,4))
type(ok)

list

In [10]:
mtup=(1,2,3,"shan",True,0)
print(mtup)
print(type(mtup))

(1, 2, 3, 'shan', True, 0)
<class 'tuple'>

In [12]:
print(mtup[1])
mtup[4]

2

True

In [15]:
mtup[0:4]
mtup[::]
mtup[::-1]

(0, True, 'shan', 3, 2, 1)

In [18]:
## operation in tuple 
t1=(1,2,3,4,5)
t2=("shan","rihan","mohammad","ankit")
total=t1+t2
print(total)

(1, 2, 3, 4, 5, 'shan', 'rihan', 'mohammad', 'ankit')

In [ ]:
## repete tuple 
t1*5

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
## tuple method 
## count 
## index 
t1.count(1)
t2.index("shan")

0

In [27]:
## packing and unpacking tuple 
packing="q",2,"f"
print(packing)

('q', 2, 'f')

In [28]:
a,b,c=packing
print(a,b,c)

q 2 f

In [30]:
tt=(8,6,5,4,3)
a,*b,C=tt
print(a,b,c)

8 [6, 5, 4] f

In [ ]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

In [31]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [32]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [36]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False